.footer-container {
  margin: 40px 0;
  width: 100%;
  display: flex;

}
.art-rights {
  right: 40px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.footer-container ul {
  display: flex;
  padding: 0;

}
.footer-container ul a {
  margin: 0 20px;
}
