.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gallery-container h2 {
  text-align: center;
}
.pieces-container {
  margin: 0 5%;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(5, 20vw);
  grid-gap: 20px;
}
.gallery-piece img {
  height: 100%;
  max-height: 357px;
  width: 100%;
  object-fit: contain;
}
.gallery-piece img:hover {
  filter: opacity(.7) ;
  cursor: pointer;
}
