.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gallery-container h2 {
  text-align: center;
}
.gallery-piece {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  a {
    text-decoration: none;
  }
img {
  height: 70%;
  max-height: 250px;
  width: 90%;
  margin-left: 5%;
  object-fit: contain;
  &:hover {
      transform: scale(1.05);
      cursor: pointer;
      transition: 1.5s ease;
  };
}
}
.pieces-container{
  animation: fadein 2s ease-in;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(6, 25vw);
  grid-gap: 20px;
  animation: fadein 2s ease-in-out;
}
.medium-pieces-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 25vw);
  grid-gap: 20px;
  animation: fadein 2s ease-in-out;
  .gallery-piece {
    justify-content: space-between;
  }
  .WithStyles\(ForwardRef\(Button\)\)-root-1 {
    width: 70%;
    position: relative;
    bottom: 5%;
    margin: 0 15%;
  }

}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}
@media only screen and (max-width: 1000px) {
  .pieces-container{
    animation: fadein 2s ease-in;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(6, 25vw);
    grid-gap: 20px;
    animation: fadein 2s ease-in-out;
  }
}
@media only screen and (max-width: 900px) {
  .icon-navbar-container {
    position: fixed;
    height: 80vh;
    width: 20%;
    top: 40px;
    background-color: rgba(12, 240, 208, 0.57);
    z-index: 1;
  }
  .gallery-container {
  .pieces-container{
    animation: fadein 2s ease-in;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(6, 100vh);
    grid-gap: 20px;
    animation: fadein 2s ease-in-out;
    .gallery-piece  {
      height: 100vh;
      position: relative;
      .WithStyles\(ForwardRef\(Button\)\)-root-1 {
        width: 90vw;
        margin: 0 5vw;
      }
      img {
        max-height: unset;
        height: 75vh;
      }
    }
  }
}
}
